<h1>Sample facade component</h1>
Facade is a structural design pattern that provides a simplified
(but limited) interface to a complex system of classes, library or framework.

!!!!
This components is using a feature library
That library uses it's data-access library and passes the data to a ui library
!!!!

<lib-dummy-feature></lib-dummy-feature>
<lib-users-feature></lib-users-feature>

<!-- @for(user of users(); track user.id) { -->
<!--   <h2>{{ user.firstName }} {{ user.lastName }}</h2> -->
<!--   <p>Eye Color: {{ user.eyeColor }}</p> -->
<!--   <p>Age: {{ user.age }}</p> -->
<!--   <p>Gender: {{ user.gender }}</p> -->
<!-- } -->

<!-- <div *ngFor="let user of users()"> -->
<!--   new syntax -->
<!--   <h2>{{ user.firstName }} {{ user.lastName }}</h2> -->
<!--   <p>Eye Color: {{ user.eyeColor }}</p> -->
<!--   <p>Age: {{ user.age }}</p> -->
<!--   <p>Gender: {{ user.gender }}</p> -->
<!-- </div> -->
